.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f4f4f9;
}

.article-content {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
}

.article-content h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.article-content img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.article-content .content-snippet {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.read-full-link {
    display: inline-block;
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

.bookmarked-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745; /* Green text */
    margin-top: 10px;
}

.bookmark-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.bookmark-button:hover {
    background-color: #ff4500;
}

/* dark-mode */

.dark-mode .loader-container{
    background-color: #222;
}

.dark-mode .article-content{
    background-color: #222;
    border: 1px solid #444;
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .article-content h1{
    color: white;
}

.dark-mode .article-content .content-snippet{
    color: #a8a8a8;
}

.dark-mode .article-content .read-full-link{
    color: #FF9800;
}