.home-page{
    padding: 20px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.home-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/* @media (max-width: 600px) {
    .articles-grid {
      grid-template-columns: 1fr; Single column on mobile
    }
} */